.summary-card {
  margin: 8px 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  margin: 1.25rem 0;
  padding: 1rem;

  .summary-title {
    font-size: 1.3rem;
    margin-bottom: .5rem
  }

  .summary-bar {
    color: rgba(0, 0, 0, 0.5)
  }
}