<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  -->
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <!--  -->
    <link rel="stylesheet" href="{{ site.css_dir |append: 'main.css' | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ site.image_dir |append: 'icon/husky.ico?' | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="icon" href="{{ site.image_dir |append: 'icon/husky.ico?' | prepend: site.baseurl }}" type="image/x-icon">
</head>